extends layout

block content
  script.
    $(function() {

      // ********** ESRI ArcGIS Functions ********** //
      require([
        "esri/map",
        "esri/Color",
        "esri/layers/FeatureLayer",
        "esri/renderers/HeatmapRenderer",
        "dojo/domReady!"

      ], function (Map, Color, FeatureLayer, HeatmapRenderer){

        var pingLayer = new FeatureLayer("https://services7.arcgis.com/mJEg4IUE4wGzxmYR/arcgis/rest/services/thepeoplewalk/FeatureServer/0", {
          mode: FeatureLayer.MODE_ONDEMAND,
          id: "pings"
        });

        var map = new Map("map", {
          basemap: "dark-gray",
          center: [-119.11, 36.65],
          zoom: 6,
          minZoom: 3
        });

        var renderer = new HeatmapRenderer({
          blurRadius: 20,
        });

        pingLayer.setRenderer(renderer);

        map.addLayer(pingLayer);

      });
      // !!!!!!!!!! ESRI ArcGIS Functions !!!!!!!!!! //

      // ********** Typeahead ********** //
      $('#protestLocation').typeahead({
        highlight: true
      }, {
        name: 'suggestions',
        limit: 11,
        display: 'text',
        source: function(query, syncResults, asyncResults) {
          $.get("http://geocode.arcgis.com/arcgis/rest/services/World/GeocodeServer/suggest", {
            text: $('#protestLocation').val(),
            f: "json",
            maxSuggestions: 3
          }, function(data) {
            console.log(data.suggestions);
            asyncResults(data.suggestions);
          }, 'json');
        },
      });
      // !!!!!!!!!! Typeahead !!!!!!!!!! //
    });

    $(function() {
      $('#pingForm').submit(function(event) {
        //- console.log($('#protestDescription').val());
        event.preventDefault(); // Stops browser from navigating away from page
        //- var data = $("#protestDescription").serialize();
        var data = $('#protestLocation').typeahead('val');
        console.log(data);
        // build a json object or do something with the form, store in data
        $.post('/', data, function(resp) {
          console.log(data);
        });
      });
    });

  div.container-fluid
    div.row.d-flex
      div.col-lg-4.col-md-5.align-self-center
        div.card.text-center
          div.card-block
            h3.card-title.mb-3 People are protesting.
            div.row
              div.col-md-10.offset-md-1
                form#pingForm
                  div.form-group
                    input#protestDescription.form-control(type="text", name="protestDescription", placeholder="Why?")
                  div.form-group.input-group
                    input#protestLocation.form-control.typeahead(type="text", name="protestLocation", placeholder="Where?")
                    span.input-group-btn
                      button.btn.btn-secondary(type="button")
                        img(src="assets/icons/location.svg")
                  div.form-group
                    button.btn.btn-primary.btn-block(type="submit") Submit
      div.col-lg-8.col-md-7
        div.card
          div.card.block
            div#map

  div.footer

  //- script(src='/js/bootstrap3-typeahead.js')
