doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/js/bootstrap.min.js')

    link(rel="stylesheet", href="https://js.arcgis.com/3.19/esri/css/esri.css")
    script(src="https://js.arcgis.com/3.19/")
    script.
      var map;
      require(["esri/map", "dojo/domReady!"], function(Map) {
        map = new Map("map", {
          basemap: "topo",
          center: [-122.45, 37.75],
          zoom: 13
        });
      });
  body
    block content