doctype html
html
  head
    title= title
    link(rel="stylesheet" href="https://js.arcgis.com/3.19/esri/css/esri.css")
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/typeahead.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/typeahead.bundle.min.js')
    script(src='https://js.arcgis.com/3.19/')

    //- link(rel="stylesheet" href="https://js.arcgis.com/3.19/esri/themes/calcite/dijit/calcite.css")
    //- link(rel="stylesheet" href="https://js.arcgis.com/3.19/esri/themes/calcite/esri/esri.css")
    
  body
    block content